{% extends 'index.html' %}

<!-- load crispy form -->
{% load crispy_forms_tags %}

<!-- load static -->
{% load static %}

<!-- title block -->
{% block titleName %} Computer Shop {% endblock titleName %}

<!-- description block -->
{% block description %}{% endblock description %}

<!-- keyword block -->
{% block keyword %}{% endblock keyword %}

<!-- Header Area End Here -->
{% block header %} {% include "header.html" %} {% endblock header %}

<!-- product detail block start -->

{% block product_detail %} {% endblock product_detail %}

<!-- Begin Footer Area -->
{% block footer %} {% include "footer.html" %} {% endblock footer %}
